In [50]:
import numpy as np
import pandas as pd
import re
pd.set_option('display.float_format', lambda x: '%.3f' % x)
np.set_printoptions(precision=3, suppress=True, floatmode='fixed') # Con este comando seteamos el formato de impresión
pd.set_eng_float_format(5)

## Importación Dataset

In [51]:
df = pd.read_csv('properatti.csv', index_col = 0) ### Dataset Completo
## DataFrame Partido en distintas partes relevantes
df_posicion_geografica = df.loc[:,['place_name','state_name','country_name','place_with_parent_names' \
                                   ,'geonames_id','lat','lon','lat-lon', \
                                   'describe','title']] ### Parte con Posición Geográfica
df_localidad=df.loc[:,['place_name','place_with_parent_names','describe','title']] ## Parte con Localidades
df_ambientes = df.loc[:,['rooms','property_type','description','title']]  ## Parte con Ambientes
df_pisos = df.loc[:,['floor','property_type','description','title']]  ## Parte con Pisos
df_precio = df.loc[:,['price','currency','price_aprox_local_currency','price_aprox_usd',\
                      'surface_total_in_m2','surface_covered_in_m2','price_usd_per_m2',\
                      'price_per_m2','description','title']]  ## Parte con Precios y Superficies

## Funciones

In [52]:
def busqueda_localidad(x):
    pattern = r"[\|]([\w\s\.]*)[\|]([\w\s\.]*)[\|]([\w\s\.]*)[\|]([\w\s\.]*)"
    regex = re.compile(pattern, flags = re.IGNORECASE | re.UNICODE)
    m = regex.search(x)
    if m:
        return m.group(1),m.group(2),m.group(3),m.group(4)
def busqueda_ambientes(x):
    '''
    Busca la palabra amb (de ambientes) y devuelve el número que tiene por delante
    '''
    try:
        pattern = '(\d+)\s*amb'
        regex = re.compile(pattern, flags = re.IGNORECASE | re.UNICODE)
        m = regex.search(x)
        if m:
            return float(m.group(1))
        else:
            return np.NaN
    except:
        return np.NaN
def busqueda_monoambientes(x):
    '''
    Busca en la palabra monoambiente y devuelve 1
    '''
    if type(x) is str:
        if x.lower().find('monoambiente') >-1:
            return 1
def busqueda_moneda(x):
    try:
        pattern = 'U\$D\s*([\d\.]+)'
        regex = re.compile(pattern, flags = re.IGNORECASE | re.UNICODE)
        m = regex.search(x)
        if m:
            return float(m.group(1).replace('.',''))
        else:
            np.NaN
    except:
        return np.NaN

## Breve Descripción del Dataset

In [21]:
df.head()

,operation,property_type,place_name,place_with_parent_names,country_name,state_name,geonames_id,lat-lon,lat,lon,...,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses,properati_url,description,title,image_thumbnail
0,sell,PH,Mataderos,|Argentina|Capital Federal|Mataderos|,Argentina,Capital Federal,3.43079E+06,"-34.6618237,-58.5088387",-34.66182E+00,-58.50884E+00,...,40.00000E+00,1.12727E+03,1.55000E+03,NaN,NaN,NaN,http://www.properati.com.ar/15bo8_venta_ph_mat...,"2 AMBIENTES TIPO CASA PLANTA BAJA POR PASILLO,...",2 AMB TIPO CASA SIN EXPENSAS EN PB,https://thumbs4.properati.com/8/BluUYiHJLhgIIK...
1,sell,apartment,La Plata,|Argentina|Bs.As. G.B.A. Zona Sur|La Plata|,Argentina,Bs.As. G.B.A. Zona Sur,3.43204E+06,"-34.9038831,-57.9643295",-34.90388E+00,-57.96433E+00,...,NaN,NaN,NaN,NaN,NaN,NaN,http://www.properati.com.ar/15bob_venta_depart...,Venta de departamento en décimo piso al frente...,VENTA Depto 2 dorm. a estrenar 7 e/ 36 y 37 ...,https://thumbs4.properati.com/7/ikpVBu2ztHA7jv...
2,sell,apartment,Mataderos,|Argentina|Capital Federal|Mataderos|,Argentina,Capital Federal,3.43079E+06,"-34.6522615,-58.5229825",-34.65226E+00,-58.52298E+00,...,55.00000E+00,1.30909E+03,1.30909E+03,NaN,NaN,NaN,http://www.properati.com.ar/15bod_venta_depart...,2 AMBIENTES 3ER PISO LATERAL LIVING COMEDOR AM...,2 AMB 3ER PISO CON ASCENSOR APTO CREDITO,https://thumbs4.properati.com/5/SXKr34F_IwG3W_...
3,sell,PH,Liniers,|Argentina|Capital Federal|Liniers|,Argentina,Capital Federal,3.43133E+06,"-34.6477969,-58.5164244",-34.64780E+00,-58.51642E+00,...,NaN,NaN,NaN,NaN,NaN,NaN,http://www.properati.com.ar/15boh_venta_ph_lin...,PH 3 ambientes con patio. Hay 3 deptos en lote...,PH 3 amb. cfte. reciclado,https://thumbs4.properati.com/3/DgIfX-85Mog5SP...
4,sell,apartment,Centro,|Argentina|Buenos Aires Costa Atlántica|Mar de...,Argentina,Buenos Aires Costa Atlántica,3.43555E+06,"-38.0026256,-57.5494468",-38.00263E+00,-57.54945E+00,...,35.00000E+00,1.82857E+03,1.82857E+03,NaN,NaN,NaN,http://www.properati.com.ar/15bok_venta_depart...,DEPARTAMENTO CON FANTÁSTICA ILUMINACIÓN NATURA...,DEPTO 2 AMB AL CONTRAFRENTE ZONA CENTRO/PLAZA ...,https://thumbs4.properati.com/5/xrRqlNcSI_vs-f...

In [22]:
df.describe()

,geonames_id,lat,lon,price,price_aprox_local_currency,price_aprox_usd,surface_total_in_m2,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses
count,102.50300E+03,69.67000E+03,69.67000E+03,100.81000E+03,100.81000E+03,100.81000E+03,81.89200E+03,101.31300E+03,68.61700E+03,87.65800E+03,7.89900E+03,47.39000E+03,14.26200E+03
mean,3.57444E+06,-34.62621E+00,-59.26629E+00,468.52593E+03,4.22940E+06,239.70058E+03,233.79533E+00,133.05018E+00,2.16009E+03,6.91222E+03,17.45234E+00,3.08084E+00,5.00923E+03
std,354.13062E+03,1.98094E+00,2.29992E+00,2.26010E+06,6.90471E+06,391.32388E+03,1.78222E+03,724.35148E+00,2.75929E+03,28.37864E+03,120.24362E+00,1.86077E+00,120.44026E+03
min,3.42721E+06,-54.82398E+00,-75.67893E+00,0.00000E+00,0.00000E+00,0.00000E+00,0.00000E+00,0.00000E+00,600.00000E-03,1.51020E+00,1.00000E+00,1.00000E+00,1.00000E+00
25%,3.43023E+06,-34.66906E+00,-58.72704E+00,110.00000E+03,1.58331E+06,89.73388E+03,50.00000E+00,45.00000E+00,1.21818E+03,1.55000E+03,1.00000E+00,2.00000E+00,1.00000E+03
50%,3.43391E+06,-34.59799E+00,-58.48013E+00,185.00000E+03,2.55845E+06,145.00000E+03,84.00000E+00,75.00000E+00,1.80000E+03,2.21311E+03,3.00000E+00,3.00000E+00,2.00000E+03
75%,3.83667E+06,-34.44130E+00,-58.39591E+00,420.00000E+03,4.67579E+06,265.00000E+03,200.00000E+00,150.00000E+00,2.48641E+03,3.35555E+03,6.00000E+00,4.00000E+00,4.00000E+03
max,6.94890E+06,4.54584E+00,-53.73333E+00,650.00000E+06,821.27110E+06,46.54544E+06,200.00000E+03,187.00000E+03,206.33333E+03,4.00000E+06,3.15000E+03,32.00000E+00,10.00150E+06

In [23]:
df.info();

<class 'pandas.core.frame.DataFrame'>
Int64Index: 121220 entries, 0 to 121219
Data columns (total 25 columns):
operation                     121220 non-null object
property_type                 121220 non-null object
place_name                    121197 non-null object
place_with_parent_names       121220 non-null object
country_name                  121220 non-null object
state_name                    121220 non-null object
geonames_id                   102503 non-null float64
lat-lon                       69670 non-null object
lat                           69670 non-null float64
lon                           69670 non-null float64
price                         100810 non-null float64
currency                      100809 non-null object
price_aprox_local_currency    100810 non-null float64
price_aprox_usd               100810 non-null float64
surface_total_in_m2           81892 non-null float64
surface_covered_in_m2         101313 non-null float64
price_usd_per_m2              68617 non-null float64
price_per_m2                  87658 non-null float64
floor                         7899 non-null float64
rooms                         47390 non-null float64
expenses                      14262 non-null float64
properati_url                 121220 non-null object
description                   121218 non-null object
title                         121220 non-null object
image_thumbnail               118108 non-null object
dtypes: float64(13), object(12)
memory usage: 24.0+ MB

In [15]:
df.isnull().sum()

operation                          0
property_type                      0
place_name                        23
place_with_parent_names            0
country_name                       0
state_name                         0
geonames_id                    18717
lat-lon                        51550
lat                            51550
lon                            51550
price                          20410
currency                       20411
price_aprox_local_currency     20410
price_aprox_usd                20410
surface_total_in_m2            39328
surface_covered_in_m2          19907
price_usd_per_m2               52603
price_per_m2                   33562
floor                         113321
rooms                          73830
expenses                      106958
properati_url                      0
description                        2
title                              0
image_thumbnail                 3112
dtype: int64

In [17]:
df[['price','currency']].loc[(~df.price.isnull()) & (df.currency.isnull())] 
##la fila que tiene el precio pero no tiene currency es la 9761, El precio esta en 0.

            price currency
9761  0.00000E+00      NaN

# Parte Ambientes

In [53]:
df_ambientes_nulos=df_ambientes[df_ambientes.rooms.isnull()] ## Nos quedamos solo con los elementos nulos

In [54]:
df_ambientes_nulos.rooms.fillna(df_ambientes_nulos.description.apply(busqueda_ambientes),inplace=True)
## Rellena los Ambientes vacíos en base a la cantidad de ambientes dichas en la descripción

In [48]:
df_ambientes_nulos.rooms.fillna(df_ambientes_nulos.description.apply(busqueda_monomambientes),inplace=True)
## Rellena los Ambientes vacíos en base a si es un monoambiente o no (presente en la descripción)

In [49]:
df_ambientes_nulos ## Estado de los Ambientes al presente

,rooms,property_type,description,title
0,2.00000E+00,PH,"2 AMBIENTES TIPO CASA PLANTA BAJA POR PASILLO,...",2 AMB TIPO CASA SIN EXPENSAS EN PB
1,NaN,apartment,Venta de departamento en décimo piso al frente...,VENTA Depto 2 dorm. a estrenar 7 e/ 36 y 37 ...
2,2.00000E+00,apartment,2 AMBIENTES 3ER PISO LATERAL LIVING COMEDOR AM...,2 AMB 3ER PISO CON ASCENSOR APTO CREDITO
3,3.00000E+00,PH,PH 3 ambientes con patio. Hay 3 deptos en lote...,PH 3 amb. cfte. reciclado
4,NaN,apartment,DEPARTAMENTO CON FANTÁSTICA ILUMINACIÓN NATURA...,DEPTO 2 AMB AL CONTRAFRENTE ZONA CENTRO/PLAZA ...
5,NaN,house,"Casa en el perímetro del barrio 338, ubicada e...","Casa Barrio 338. Sobre calle 3 de caballería, ..."
6,NaN,PH,MUY BUEN PH AL FRENTE CON ENTRADA INDEPENDIENT...,"MUY BUEN PH AL FRENTE DOS DORMITORIOS , PATIO,..."
7,1.00000E+00,apartment,EXCELENTE MONOAMBIENTE A ESTRENAR AMPLIO SUPER...,JOSE HERNANDEZ 1400 MONOAMBIENTE ESTRENAR CAT...
8,NaN,apartment,EXCELENTE DOS AMBIENTES ESTRENAR AMPLIO SUPER...,"JOSE HERNANDEZ 1400 DOS AMBIENTES ESTRENAR ,..."
9,NaN,house,MEDNOZA AL 7600A UNA CUADRA DE CALLE MENDOZAWH...,WHITE 7637 - 2 DORMITORIOS CON PATIO
10,NaN,house,"Hermosa casa sin terminar de 3 dormitorios, ba...",Casa sin terminar en Falda de Cañete. ...
11,1.00000E+00,house,"Entrada de Coche, Jardin, Living en desnivel, ...",CHALET
12,2.00000E+00,apartment,EXCELENTE DEPARTAMENTO 2 AMBIENTES CONTRAFRENT...,EXCELENTE DEPARTAMENTO 2 AMBIENTES CONTRAFRENT...
15,NaN,house,ULTIMA UNIDAD DISPONIBLEHAUS BOULEVARD: Metros...,HAUS VILLAGE / BELLA VISTA / 115m² MAS PATIO /...
18,NaN,house,Casa sobre lote al golf en barrio San Isidro L...,"Casa en venta en barrio San Isidro Labrador, T..."
20,NaN,house,"Consta de: Comedor-cocina, cuatro dormitorios ...","Casa con excelente ubicaciòn, calle asfaltada,..."
22,NaN,house,Edificada en 2 plantas. PB. amplio living con ...,CASA EN VENTA A ESTRENAR EN EL NACIONAL
26,NaN,house,Casa en venta en complejo Villanueva barrio Sa...,Casa muy linda en San Gabriel Villanueva
27,NaN,house,Estancias propone vivir rodeados de naturaleza...,Excelente Propiedad!!!! en Estancias del Pilar
30,NaN,house,"Muy linda casa , toda en planta baja, doble pa...","Excelente propiedad !!!Muy buen estado, constr..."
31,3.00000E+00,house,Muy buena casa tipo americana de 3 ambientes c...,Casa tipo americana de 3 ambientes sobre lote ...
36,NaN,house,"Casa en Pilar centro ,a pocas cuadras de la pl...",Casa en Pilar Centro-Excelente Estado
37,NaN,house,Nuevos ingreso:-VENTA-Villa San Nicolas.Presen...,Casa Venta Villa San Nicolas
39,NaN,house,"Casa a estrenar en Barrio San Eduardo , Pilar ...","Casa a Estrenar , en Planta Baja , Excelente!!!"
42,NaN,house,"Ubicado en planta baja, posee patio y un area ...","Duplex en Villa Morra , muy buena ubicacion ,..."
44,NaN,house,Ideal Desarrollistas:Zona UCA .Densidad 800 ( ...,Inversor a 50 mts de la Plaza de Pilar!! UCA-
47,NaN,house,ESTRUCTURA ECOLOGICA FLOTANTEIDEAL PARA UBICAR...,FLOAT LIFE - CASA FLOTANTE - UBICABLE EN CLUBS...
49,NaN,house,JPL. Casa en el barrio San Sebastian con bajad...,JPL. Casa en San Sebastian
51,NaN,house,Se encuentra dentro del Distrito Tecnológico. ...,Casa impecable refaccionada! 6 ambientes.
56,NaN,house,"Chalet clasico, ladrillo a la vista, techos de...",Chalet con buen jardin - Zona Jockey
...,...,...,...,...
121190,NaN,apartment,UBICACIÓNEstratégicamente ubicado en calle Obi...,Departamento - Nueva Cordoba
121191,NaN,apartment,UBICACIÓNEstratégicamente ubicado en calle Obi...,Departamento - Nueva Cordoba
121192,NaN,apartment,UBICACIÓNEstratégicamente ubicado en calle Obi...,Departamento - Nueva Cordoba
121193,NaN,apartment,UBICACIÓNEstratégicamente ubicado en calle Obi...,Departamento - Nueva Cordoba
121194,NaN,apartment,UBICACIÓNEstratégicamente ubicado en calle Obi...,Departamento - Nueva Cordoba
121195,NaN,apartment,UBICACIÓNEstratégicamente ubicado en calle Obi...,Departamento - Nueva Cordoba
121196,NaN,apartment,UBICACIÓNEstratégicamente ubicado en calle Obi...,Departamento - Nueva Cordoba
121197,NaN,apartment,UBICACIÓNEstratégicamente ubicado en calle Obi...,Departamento - Nueva Cordoba
121198,NaN,apartment,UBICACIÓNEstratégicamente ubicado en calle Obi...,Departamento - Nueva Cordoba
121199,NaN,apartment,UBICACIÓNEstratégicamente ubicado en calle Obi...,Departamento - Nueva Cordoba
121200,NaN,apartment,UBICACIÓNEstratégicamente ubicado en calle Obi...,Departamento - Nueva Cordoba
121201,NaN,apartment,UBICACIÓNEstratégicamente ubicado en calle Obi...,Departamento - Nueva Cordoba
121202,NaN,apartment,UBICACIÓNEstratégicamente ubicado en calle Obi...,Departamento - Nueva Cordoba
121203,NaN,apartment,UBICACIÓNEstratégicamente ubicado en calle Obi...,Departamento - Nueva Cordoba
121204,NaN,apartment,UBICACIÓNEstratégicamente ubicado en calle Obi...,Departamento - Nueva Cordoba
121205,NaN,apartment,UBICACIÓNEstratégicamente ubicado en calle Obi...,Departamento - Nueva Cordoba
121206,NaN,apartment,UBICACIÓNEstratégicamente ubicado en calle Obi...,Departamento - Nueva Cordoba
121207,NaN,house,Puertos- Barrio Vistas - L. 88Casa en venta so...,"Casa en venta Puertos, barrio Vistas"
121208,NaN,house,Puertos- Barrio Vistas - L. 88Casa en venta so...,"Casa en venta Puertos, barrio Vistas"
121209,NaN,apartment,Edificio en esquina de muy buena categoría de ...,Av .Luis Maria Campos 1400- Belgrano-Capital F...
121210,NaN,house,Dos viviendas en block en excelente ubicación ...,Casa - Martinez
121211,NaN,apartment,Excelente departamento de categoría con vistas...,Departamento - Acassuso
121212,NaN,house,ESPECTACULAR CASA ESTILO RACIONALISTA EN CALLE...,Casa - Acassuso
121213,NaN,house,EXCELENTE casa en Martinez. Inmejorable ubicai...,Casa - Martinez
121214,NaN,store,***VENTA CON RENTA***Local en EDIFICIO lomas ...,Local - San Isidro
121215,NaN,apartment,TORRE FORUM ALCORTA - MÁXIMA CATEGORÍA.Impecab...,Torre Forum Alcorta- Impecable 3 ambientes
121216,NaN,house,Excelente e impecable casa en Venta en Las Lom...,Ruca Inmuebles | Venta | Lomas de San Isidro |...
121217,1.00000E+00,apartment,VENTA DEPARTAMENTO AMBIENTE DIVISIBLE A ESTREN...,VENTA DEPARTAMENTO AMBIENTE DIVISIBLE A ESTREN...
121218,2.00000E+00,apartment,"2 Amb al contrafrente, luminoso. El departame...",2 amb. C/ dep. de servicio al contrafrente| Re...
121219,NaN,apartment,Departamento de 77 m2 apto profesional. Edific...,Departamento apto profesional en el Centro

## A Ordenar

In [18]:
df_posicion_geografica.head(5)

,place_name,state_name,country_name,place_with_parent_names,geonames_id,lat,lon,lat-lon,describe,title
0,Mataderos,Capital Federal,Argentina,|Argentina|Capital Federal|Mataderos|,3.43079E+06,-34.66182E+00,-58.50884E+00,"-34.6618237,-58.5088387",NaN,2 AMB TIPO CASA SIN EXPENSAS EN PB
1,La Plata,Bs.As. G.B.A. Zona Sur,Argentina,|Argentina|Bs.As. G.B.A. Zona Sur|La Plata|,3.43204E+06,-34.90388E+00,-57.96433E+00,"-34.9038831,-57.9643295",NaN,VENTA Depto 2 dorm. a estrenar 7 e/ 36 y 37 ...
2,Mataderos,Capital Federal,Argentina,|Argentina|Capital Federal|Mataderos|,3.43079E+06,-34.65226E+00,-58.52298E+00,"-34.6522615,-58.5229825",NaN,2 AMB 3ER PISO CON ASCENSOR APTO CREDITO
3,Liniers,Capital Federal,Argentina,|Argentina|Capital Federal|Liniers|,3.43133E+06,-34.64780E+00,-58.51642E+00,"-34.6477969,-58.5164244",NaN,PH 3 amb. cfte. reciclado
4,Centro,Buenos Aires Costa Atlántica,Argentina,|Argentina|Buenos Aires Costa Atlántica|Mar de...,3.43555E+06,-38.00263E+00,-57.54945E+00,"-38.0026256,-57.5494468",NaN,DEPTO 2 AMB AL CONTRAFRENTE ZONA CENTRO/PLAZA ...

In [247]:
df_posicion_geografica.loc[df.place_name.isnull()] ## Localidades que están vacías.

,place_name,state_name,country_name,place_with_parent_names,geonames_id,lat,lon,lat-lon
6489,NaN,Bs.As. G.B.A. Zona Norte,Argentina,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,NaN,-34.40090E+00,-58.63810E+00,"-34.4008968545,-58.63809847"
10201,NaN,Bs.As. G.B.A. Zona Norte,Argentina,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,NaN,-34.40070E+00,-58.63807E+00,"-34.400704,-58.638067"
11451,NaN,Bs.As. G.B.A. Zona Norte,Argentina,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,NaN,-34.40269E+00,-58.62626E+00,"-34.4026880384,-58.6262613379"
14839,NaN,Bs.As. G.B.A. Zona Norte,Argentina,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,NaN,-34.40080E+00,-58.63817E+00,"-34.4007994779,-58.6381735719"
18622,NaN,Bs.As. G.B.A. Zona Norte,Argentina,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,NaN,-34.40328E+00,-58.62635E+00,"-34.4032781195,-58.6263503945"
21922,NaN,Bs.As. G.B.A. Zona Norte,Argentina,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,NaN,-34.39970E+00,-58.63841E+00,"-34.399704,-58.638405"
23664,NaN,Bs.As. G.B.A. Zona Norte,Argentina,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,NaN,-34.40052E+00,-58.64180E+00,"-34.4005161998,-58.6417999185"
24722,NaN,Bs.As. G.B.A. Zona Norte,Argentina,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,NaN,-34.40073E+00,-58.63778E+00,"-34.4007292,-58.6377783"
38856,NaN,Bs.As. G.B.A. Zona Norte,Argentina,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,NaN,-34.42509E+00,-58.57966E+00,"-34.425087,-58.5796585"
45970,NaN,Bs.As. G.B.A. Zona Norte,Argentina,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,NaN,-34.39607E+00,-58.63738E+00,"-34.396074,-58.63738"
46642,NaN,Bs.As. G.B.A. Zona Norte,Argentina,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,NaN,-34.40075E+00,-58.63875E+00,"-34.400749,-58.638754"
53130,NaN,Bs.As. G.B.A. Zona Norte,Argentina,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,NaN,-34.40098E+00,-58.63781E+00,"-34.400978,-58.637809"
55306,NaN,Bs.As. G.B.A. Zona Norte,Argentina,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,NaN,-34.39963E+00,-58.64331E+00,"-34.3996311,-58.6433121"
57703,NaN,Bs.As. G.B.A. Zona Norte,Argentina,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,NaN,-34.39034E+00,-58.63369E+00,"-34.39033749,-58.63368988"
57759,NaN,Bs.As. G.B.A. Zona Norte,Argentina,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,NaN,-34.39597E+00,-58.63077E+00,"-34.39596815,-58.63077164"
57764,NaN,Bs.As. G.B.A. Zona Norte,Argentina,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,NaN,-34.39636E+00,-58.62614E+00,"-34.39635767,-58.62613678"
57793,NaN,Bs.As. G.B.A. Zona Norte,Argentina,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,NaN,-34.39629E+00,-58.62923E+00,"-34.39628685,-58.62922668"
58004,NaN,Bs.As. G.B.A. Zona Norte,Argentina,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,NaN,-34.39105E+00,-58.63618E+00,"-34.39104577,-58.63617897"
58037,NaN,Bs.As. G.B.A. Zona Norte,Argentina,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,NaN,-34.39315E+00,-58.63197E+00,"-34.39315287,-58.63197327"
59069,NaN,Bs.As. G.B.A. Zona Norte,Argentina,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,NaN,-34.40085E+00,-58.63818E+00,"-34.400849,-58.638179"
62411,NaN,Bs.As. G.B.A. Zona Norte,Argentina,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,NaN,-34.39648E+00,-58.63588E+00,"-34.396485,-58.635878"
62413,NaN,Bs.As. G.B.A. Zona Norte,Argentina,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,NaN,-34.39648E+00,-58.63588E+00,"-34.396485,-58.635878"
63849,NaN,Bs.As. G.B.A. Zona Norte,Argentina,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,NaN,-34.39452E+00,-58.63250E+00,"-34.39452,-58.632501"

In [218]:
df_localidad.iloc[4:5,1].apply(busqueda_localidad)

4    (Argentina, Buenos Aires Costa Atlántica, Mar ...
Name: place_with_parent_names, dtype: object

In [271]:
df_precio_nulo = df[df.price.isnull()]

In [219]:
df_localidad.place_with_parent_names.apply(busqueda_localidad)

0                 (Argentina, Capital Federal, Mataderos, )
1           (Argentina, Bs.As. G.B.A. Zona Sur, La Plata, )
2                 (Argentina, Capital Federal, Mataderos, )
3                   (Argentina, Capital Federal, Liniers, )
4         (Argentina, Buenos Aires Costa Atlántica, Mar ...
5                   (Argentina, Entre Ríos, Gualeguaychú, )
6         (Argentina, Bs.As. G.B.A. Zona Norte, Vicente ...
7                  (Argentina, Capital Federal, Belgrano, )
8                  (Argentina, Capital Federal, Belgrano, )
9                          (Argentina, Santa Fe, Rosario, )
10                          (Argentina, Córdoba, Córdoba, )
11        (Argentina, Bs.As. G.B.A. Zona Norte, San Migu...
12        (Argentina, Bs.As. G.B.A. Zona Norte, San Isid...
13        (Argentina, Capital Federal, Palermo, Palermo ...
14        (Argentina, Capital Federal, Palermo, Palermo ...
15        (Argentina, Bs.As. G.B.A. Zona Norte, San Migu...
16                (Argentina, Capital Federal, Mataderos, )
17        (Argentina, Bs.As. G.B.A. Zona Norte, Tigre, N...
18           (Argentina, Bs.As. G.B.A. Zona Norte, Tigre, )
19                  (Argentina, Capital Federal, Palermo, )
20                   (Argentina, Córdoba, Villa Giardino, )
21                  (Argentina, Capital Federal, Palermo, )
22        (Argentina, Bs.As. G.B.A. Zona Oeste, General ...
23        (Argentina, Bs.As. G.B.A. Zona Norte, Pilar, P...
24        (Argentina, Bs.As. G.B.A. Zona Oeste, Morón, C...
25        (Argentina, Bs.As. G.B.A. Zona Oeste, Morón, C...
26        (Argentina, Bs.As. G.B.A. Zona Norte, Tigre, B...
27        (Argentina, Bs.As. G.B.A. Zona Norte, Pilar, E...
28        (Argentina, Bs.As. G.B.A. Zona Oeste, Morón, C...
29                   (Argentina, Capital Federal, Flores, )
                                ...
121190                                                 None
121191                                                 None
121192                                                 None
121193                                                 None
121194                                                 None
121195                                                 None
121196                                                 None
121197                                                 None
121198                                                 None
121199                                                 None
121200                                                 None
121201                                                 None
121202                                                 None
121203                                                 None
121204                                                 None
121205                                                 None
121206                                                 None
121207     (Argentina, Bs.As. G.B.A. Zona Norte, Escobar, )
121208     (Argentina, Bs.As. G.B.A. Zona Norte, Escobar, )
121209             (Argentina, Capital Federal, Belgrano, )
121210    (Argentina, Bs.As. G.B.A. Zona Norte, San Isid...
121211    (Argentina, Bs.As. G.B.A. Zona Norte, San Isid...
121212    (Argentina, Bs.As. G.B.A. Zona Norte, San Isid...
121213    (Argentina, Bs.As. G.B.A. Zona Norte, San Isid...
121214    (Argentina, Bs.As. G.B.A. Zona Norte, San Isid...
121215             (Argentina, Capital Federal, Belgrano, )
121216    (Argentina, Bs.As. G.B.A. Zona Norte, San Isid...
121217        (Argentina, Capital Federal, Villa Urquiza, )
121218    (Argentina, Buenos Aires Costa Atlántica, Mar ...
121219                                                 None
Name: place_with_parent_names, Length: 121220, dtype: object

In [220]:
df_localidad.place_with_parent_names.head(20)

0                 |Argentina|Capital Federal|Mataderos|
1           |Argentina|Bs.As. G.B.A. Zona Sur|La Plata|
2                 |Argentina|Capital Federal|Mataderos|
3                   |Argentina|Capital Federal|Liniers|
4     |Argentina|Buenos Aires Costa Atlántica|Mar de...
5                   |Argentina|Entre Ríos|Gualeguaychú|
6     |Argentina|Bs.As. G.B.A. Zona Norte|Vicente Ló...
7                  |Argentina|Capital Federal|Belgrano|
8                  |Argentina|Capital Federal|Belgrano|
9                          |Argentina|Santa Fe|Rosario|
10                          |Argentina|Córdoba|Córdoba|
11      |Argentina|Bs.As. G.B.A. Zona Norte|San Miguel|
12    |Argentina|Bs.As. G.B.A. Zona Norte|San Isidro...
13     |Argentina|Capital Federal|Palermo|Palermo Soho|
14     |Argentina|Capital Federal|Palermo|Palermo Soho|
15    |Argentina|Bs.As. G.B.A. Zona Norte|San Miguel...
16                |Argentina|Capital Federal|Mataderos|
17    |Argentina|Bs.As. G.B.A. Zona Norte|Tigre|Nord...
18           |Argentina|Bs.As. G.B.A. Zona Norte|Tigre|
19                  |Argentina|Capital Federal|Palermo|
Name: place_with_parent_names, dtype: object

In [221]:
df.iloc[2]

operation                                                                  sell
property_type                                                         apartment
place_name                                                            Mataderos
place_with_parent_names                   |Argentina|Capital Federal|Mataderos|
country_name                                                          Argentina
state_name                                                      Capital Federal
geonames_id                                                         3.43079E+06
lat-lon                                                 -34.6522615,-58.5229825
lat                                                               -34.65226E+00
lon                                                               -58.52298E+00
price                                                              72.00000E+03
currency                                                                    USD
price_aprox_local_currency                                          1.27040E+06
price_aprox_usd                                                    72.00000E+03
surface_total_in_m2                                                55.00000E+00
surface_covered_in_m2                                              55.00000E+00
price_usd_per_m2                                                    1.30909E+03
price_per_m2                                                        1.30909E+03
floor                                                                       NaN
rooms                                                                       NaN
expenses                                                                    NaN
properati_url                 http://www.properati.com.ar/15bod_venta_depart...
description                   2 AMBIENTES 3ER PISO LATERAL LIVING COMEDOR AM...
title                                  2 AMB 3ER PISO CON ASCENSOR APTO CREDITO
image_thumbnail               https://thumbs4.properati.com/5/SXKr34F_IwG3W_...
Name: 2, dtype: object

## Otros

In [56]:
#Función caduca, no usar.
def update(x,y,nullvalue = None):
    x = np.where(x==nullvalue, y, x)
    #x = np.where(x.eq(0), y, x[])
    return x
update(df_ambientes_nulos.loc[:,'rooms'],df_ambientes_nulos.description.apply(busqueda_monomambientes),np.NaN)

array([2.000,   nan, 2.000, ...,   nan, 2.000,   nan])

In [55]:
## Para los precios
df_precio_nulo.title.apply(busqueda_moneda)[~df_precio_nulo.title.apply(busqueda_moneda).isnull()].sort_values(ascending=False)

NameError: name 'df_precio_nulo' is not defined